[submodule "backend"]
	path = backend
	url = https://github.com/ibagomel/Visual-Flow-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/ibagomel/Visual-Flow-frontend
[submodule "jobs"]
	path = jobs
	url = https://github.com/ibagomel/Visual-Flow-jobs
[submodule "deploy"]
	path = deploy
	url = https://github.com/ibagomel/Visual-Flow-deploy
